{
    "targetUsers": [
        { "providerId": "discord", "id": "discord id" },
        { "providerId": "telegram", "id": "telegram id"}
    ],
    "inputDataDirName": "InputData",
    "outputDataDirName": "OutputData",
    "sampleSize": 5000,
    "systemPrompt": "You are a helpful assistant.",
    "enableDebugging": false,
    "shouldMergeConsecutiveMessages": false,
    "enableWarnings": false,
    "anonymizeProviderConversationIds": true,
    "localProvidersDir": "LocalPlugins",
    "localPluginsDir": "LocalPlugins"
}
